*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-size: cover;
    height: ;
}
.cont{
    background: url('WhatsApp Image 2025-07-11 à 13.58.24_8570b68d.jpg') no-repeat;

}